* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .buttons:hover {
      background-color: grey;
  }
  
  body {
    background-color: #184dc3;
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
  }
  
  h1 {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
  }
  
  .board {
    background: #ffffff;
    width: 40em;
    height: 40em;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    /* grid-gap: .5rem; */
  }
  
  .squares {
    background: white;
    border: black solid .05em;
    font-size: 5rem;
    /* font-weight: 800; */
    cursor: pointer;
    outline: none;
  }

  .squares:hover {
      background-color: grey;
  }
  
  .info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  h3 {
    padding: 1rem;
  }
  
  li {
    list-style: none;
  }
  
  .info-wrapper button {
    background: #272727;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
  }

  .restartButton {
    padding: 1em 4em;
    border: .2em black dotted;
    box-shadow: 0em 0em 1em 8px #272727;
    font-size: 1.5rem;
  }

  .restartButton:hover {
    background-color: grey;
    color: rgba(255, 255, 255, 0.925);
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
  }

  .restartButtonWrapper {
    display: flex;
    justify-content: center;
  }

  .winnnerSquares {
    color: white;
    background-color: #184dc3;
    border: .05em black dotted;
    box-shadow: 0em 0em 1em 8px #272727;
    font-size: 8rem;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.gameContainer {
  display: flex;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2em;
}

.winnerTitle {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {opacity: 0;}
  50% {opacity: 0.7;}
  100% {opacity: 0;}
}